<table class="table">
	<thead>
		<th>名稱</th>
		<th>地址</th>
		<th>加工種類</th>
		<th></th>
	</thead>
	<tbody>
		<% @factories.each do |factory| %>
			<tr>
				<td><%= factory.name %></td>
				<td><%= factory.address %></td>
				<td><%= factory.skill %></td>
				<td><%= link_to "發包狀況", admin_factory_procedures_path(factory_id: factory) %></td>
			</tr>
		<% end %>
	</tbody>
</table>