<nav class="navbar navbar-expand-lg navbar-light" id="nav">
  <a class="navbar-brand" href="#"><%= @nav_title %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <form class="form-inline w-100 mr-1">
      <div class="input-group w-100">
	      <input type="text" class="form-control" placeholder="搜尋客戶、訂單、圖號、工廠" aria-label="搜尋">
	      <span class="input-group-btn">
	        <button id="navbar-search-btn" class="btn" type="button" style="cursor: pointer;">
	        	<i class="fi-magnifying-glass"></i>
	        </button>
	      </span>
	    </div>
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <!-- 以下為 mobile sidebar -->
      <% if mobile? %>
      <hr>
      <li class="nav-item">
      	<a class="nav-link" href="#">
      		訂單管理
      		<span class="badge badge-primary badge-pill">14</span>
      	</a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" href="#">
      		追料
      	</a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" href="#">
      		加工廠商資料
      	</a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" href="#">
      		工件資料
      	</a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" href="#">
      		應收帳款
      	</a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" href="#">
      		應付帳款
      	</a>
      </li>
      <% end %>
      <!-- 以上為 mobile sidebar -->
    </ul>
  </div>
</nav>