@import "bootstrap";
@import "workpiece";
@import "manufacturing_record";

@media only screen and (min-width: 900px) {
	#sidebar {
		width: 200px;
		overflow: auto;
	}
	#nav, #right {
		width: calc(100% - 200px);
	}
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
	#sidebar {
		width: 160px;
		overflow: auto;
	}
	#nav, #right {
		width: calc(100% - 160px);
	}
}

@media only screen and (max-width: 767px) {
	#nav {
		width: 100%;
		.navbar-collapse {
			margin-top: 15px;
		}
	}
}

#full_page_wrapper {
	height: 100vh;
}

#sidebar {
	background: #323232;
	.list-group .list-group-item {
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 99px;
		padding-left: 30px;
		width: auto;
		margin: 3px 10px;
		color: #ddd;
		&.disabled {
			color: #868e96;
		}
		&:hover {
			color: white;
		}
		&.active {
			color: white;
			background-color: rgba(255, 255, 255, 0.23);
		}
	}
	.logo {
		padding: 34px 12px;
		font-size: 24px;
		color: white;
	}
}

.navbar-brand {
	color: #FFA534 !important;
}

#nav {
	position: fixed;
	background-color: #f4f3ef;
	z-index: 3;
}

#navbar-search-btn {
	border: 1px solid #FFA534;
	color: white;
	background: #FFA534;
}

#right {
	overflow: auto;
	float: right;
	background-color: #f4f3ef;
}

#main_content {
	z-index: 2;
	position: relative;
	top: 56px;
}