.previous_procedure td, .next_procedure td {
	color: #999;
}
.current_procedure td {
	font-weight: bold;
}

.bg-danger, .bg-warning {
	.text-muted {
		color: #ccc !important;
	}
}

.thead-fixed {
	thead {
		background-color: #f4f3ef;
		z-index: 3;
	}
}
